<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Do It Yourself</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <p class="text-right">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    <a href="#" th:href="'/recipe/'+${recipe.id}+'/show'">Return to recipe</a>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h5 class="card-header bg-success text-white">Ingredients</h5>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <td>Id</td>
                                <td>Description</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </thead>
                            <tbody>
                                <tr th:each="ingredient : ${recipe.ingredients}">
                                    <td th:text="${ingredient.id}">1</td>
                                    <td>
                                        <span th:text="${mathService.decimalToFraction(ingredient.amount)}">amount</span>
                                            <span th:if="${ingredient.uom}" th:text="${ingredient.uom.uom}+' of '" class="text-lowercase">
                                        unit of measure
                                        </span>
                                       <span th:text="${ingredient.description}" class="text-lowercase">
                                        description
                                        </span>
                                    </td>
                                    <td>
                                        <a href="#" th:href="'/recipe/'+${recipe.id}+'/ingredients/'+${ingredient.id}+'/show'">View</a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-success">Update</a>
                                    </td>
                                    <td>
                                        <a href="#" class="text-danger">Delete</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>